@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#telefone{
    height: 627px;
    width: 311px;
    background-image: url(imagens/frame-iphone.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


section#menu{
    text-align: right;
}

section#menu img{
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.596);
}
section#menu img:hover{
    transform: translate(-2px , -2px) ;
    border: 1px solid white;
    box-sizing: border-box;
    transition: transform 0.3s , border 0.5s;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.877);
}

iframe#tela{
    margin-top: 80px;
    margin-left: 22px;

    width: 267px;
    height: 471px;
    box-shadow: 1px 1px 1px black;
}

