@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#telefone{
    height: 627px;
    width: 311px;
    background-image: url(imagens/frame-iphone.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

iframe#tela{
    margin-top: 80px;
    margin-left: 22px;

    width: 267px;
    height: 471px;
}
